:root {
  --strava-color: #fc4c02;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background: #fbf8f7;
  color: #36180c;
  margin: 0;
}
a {
  color: #5dcafa;
  text-decoration: none;
}
p {
  margin: 0 0 1rem;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 1rem 0;
}

.table {
  border-collapse: collapse;
  width: 100%;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
}
.table td,
.table th {
  text-align: left;
  border-bottom: 1px solid #dee2e6;
  padding: 0.25rem 0.25rem;
}

.text-center {
  text-align: center;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}
.footer {
  padding: 5px;
  text-align: center;
  font-size: 0.8rem;
  color: #777;
}

.header {
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--strava-color);
  color: #fff;
  border-bottom: 1px solid #db4201;
  box-shadow: 0 0 15px rgba(252, 76, 2, 0.6);
}

.header a,
.header button {
  padding: 2px 7px;
  margin: 0 0 0 10px;
  background: #ff550c;
  border: 1px solid #ff6624;
  border-radius: 4px;
  color: #461500;
  font: inherit;
  display: inline-block;
}
.header a:hover,
.header button:hover {
  background: #ff6624;
  color: #290c00;
  border-color: #df4604;
  cursor: pointer;
}

.logo {
  font-size: 1.5rem;
}

.page {
  margin: 2rem auto;
  background: #fff;
  max-width: 600px;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 4px;
}

.page--wide {
  max-width: 1400px;
}

.btn {
  background: var(--strava-color);
  color: #fff;
  display: inline-block;
  padding: 7px 10px;
  border-radius: 4px;
}
.btn:hover {
  filter: brightness(0.85);
}

.weektip {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px;
  font-size: 0.9rem;
}

.meta {
  color: #ccc;
  font-size: 0.8rem;
}

.options {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0.5rem;
}

.select-type {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.select-type input[type='radio'] {
  margin: 0;
}
.select-type input[type='checkbox'] {
  margin: 0 0.4rem 0 0;
}

.select-type label {
  cursor: pointer;
}
.select-type label:hover {
  color: #000;
}
